.popup__button-save {
    width: 358px;
    height: 50.15px;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
}


.popup__button-save:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .popup__button-save {
        font-size: 14px;
        width: 250px;
    }
} 

@media screen and (max-width: 480px) {
    .popup__button-save {
        width: 200px;
    }
} 

@media screen and (max-width: 345px) {
    .popup__button-save {
        font-size: 14px;
        width: 190px;
        margin: 0px auto 20px;
    }
} 