.profile-intro__button-edit {
    color: white;
    padding: 7px;
    margin-top: 19px;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile-intro__button-edit  {
        max-width: 18px;
        max-height: 18px;
        margin-top: 18px;
        margin-left: 1px;
    }  
}
