.popup__input {
    width: 358px;
    height: 27.26px;
    border: none;
    margin-bottom: 29px;
    margin: 0px auto 29px;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 768px) {
    .popup__input {
        font-size: 14px; 
        width: 250px;
    }
} 

@media screen and (max-width: 480px) {
    .popup__input {
        font-size: 15px;
        width: 200px;
    }
} 

@media screen and (max-width: 345px) {
    .popup__input  {
        font-size: 14px;
        width: 190px;
    }
} 
