.elements {
    max-width: 882px;
    width: 100%;
    margin-bottom: 66px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50%) ; 
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    .elements {
        grid-column-gap: 12px;
        grid-row-gap: 14px;
    }
}

 @media screen and (max-width: 905px) {
    .elements {
        grid-column-gap: 6px;
        grid-row-gap: 7px;
    }
} 

@media screen and (max-width: 768px) {
    .elements {
        grid-column-gap: 4px;
        grid-row-gap: 5px;
    }
} 

@media screen and (max-width: 674px) {
    .elements {
        grid-column-gap: 10px;
        grid-row-gap: 8px;
    }
} 


@media screen and (max-width: 564px) {
    .elements {
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        grid-template-rows: repeat(6, 361px) ; 
        max-width: 500px;
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        justify-content: center;
        
    }
} 

@media screen and (max-width: 320px) {
    .elements {
        max-width: 320px;
        margin-bottom: 48px;
        grid-row-gap: 20px; 
    }
}