.popup__profession {

}

@media screen and (max-width: 768px) {
    .popup__profession {
        font-size: 14px; 
        width: 250px;
        margin: 20px auto 20px;
    }
} 

@media screen and (max-width: 480px) {
    .popup__profession {
        width: 200px;
        /* margin: 0px 20px 20px; */
        font-size: 15px;
    }
} 