.popup__button-close {
    position: absolute;
    top: 0px;
    width: 40.7px;
    left: 469px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .popup__button-close {
        top: 0px;
        left: 362px;

    }
} 

@media screen and (max-width: 480px) {
    .popup__button-close {
        top: 0px;
        left: 265px;

    }
} 