.profile__button-add {
    max-width: 150px;
    max-height: 50px;
    color: #FFFFFF;;
    background-color: black;
    padding: 14px 64px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    margin-left: auto;
}

.profile__button-add:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .profile__button-add {
        padding: 14px 32px;
    }
}

@media screen and (max-width: 905px) {
    .profile__button-add {
        padding: 10px 24px;
    }
}

@media screen and (max-width: 768px) {
    .profile__button-add {
        padding: 4px 9px;
    }
}

@media screen and (max-width: 564px) {
    .profile__button-add {
        padding: 2px 4.5px;
        margin: 36px auto 0px;
        width: 100%;
        max-width: 370px;
    }
}

@media screen and (max-width: 320px) {
    .profile__button-add {
        padding: 17px 132px 17px 134px;
        max-width: 283px;
    }  
}