.profile__avatar {
    max-width: 168.75px;
    max-height: 127.5px;
    border-radius: 50%;
    padding-left: 0px;
    margin-right: 26.25px;
}

@media screen and (max-width: 564px) {
    .profile__avatar {
        max-width: 400px;
    }
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        max-width: 120px;
        max-height: 120px;
        margin: auto; 
    }  
}