@import url(./__button/element__button.css);
@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__title-and-button/element__title-and-button.css);

.element {
    max-width: 282px; 
    max-height: 361px; 
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 10px;
    list-style: none;
}

